# Backend
backend/target/
backend-inc/.m2/
backend-inc/target/
backend-inc/*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/src/assets/EntraID_Conf.json
frontend/src/assets/Mailboxes_Conf.json

# IDE/OS
.vscode/
.DS_Store
Thumbs.db
